.header{
    width: 100%;
}

.header ul li{
    float: left;
    padding: 5px;
    list-style: none;
    background-color: brown;
}
.header ul li a{
    text-decoration: none;
    color:#fff
}

.header ul li a:hover{
    background-color: #fff;
    color:#000
}
